/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: "Roboto";
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto";
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.about-content {
  margin: auto;
  width: 90%;
}
@media (min-width: 800px) {
  .about-content {
    max-width: 1000px;
    margin: auto;
  }
}
.about-content .top-about {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 250px;
}
.about-content .top-about img {
  height: 250px;
  width: 200px;
}
.about-content .top-about div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.about-content .top-about div h2 {
  font-weight: bold;
}
.about-content .bottom-about {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 800px) {
  .about-content .bottom-about {
    justify-content: center;
  }
}
.about-content .bottom-about h2 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto";
}
.about-content .bottom-about .profile {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
}
.about-content .bottom-about .profile img {
  height: 250px;
}
.about-content .bottom-about .profile h4 {
  font-weight: bold;
}
.about-content .bottom-about .profile .bio {
  display: none;
  margin: auto;
  margin-top: 20px;
  width: 250px;
}
.about-content .bottom-about .profile .bio-toggle {
  display: block;
}

header {
  display: absolute;
  background-image: url("../../assets/images/backgrounds/header-background.jpg");
}
@media (min-width: 502px) {
  header {
    display: none;
  }
}

footer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 502px) {
  footer {
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) {
  footer {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
footer p {
  display: none;
  margin-left: 10px;
}
@media (min-width: 502px) {
  footer p {
    display: block;
  }
}
footer div {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

/*# sourceMappingURL=index.css.map */
