// THIS IS JUST FOR REFERENCE, this file can be deleted

// .dropdown {
//   z-index: 2;
//   position: absolute;
//   left: 25px;
//   cursor: pointer;
//   .dropdown-button {
//     padding: 15px;
//     border: 3px solid $white;
//     color: $white;
//     font-size: 20px;
//     font-weight: bold;
//     &:hover {
//       background-color: $lambda-light-red;
//     }
//   }
//   .dropdown-content {
//     width: 100%;
//     position: absolute;
//     background-color: $white;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border: 2.5px solid $lambda-red;
//     margin-top: 10px;
//     max-height: 17.5rem;
//     overflow: hidden;
//     transition: max-height 500ms, border 0ms 0ms;
//   }
//   .dropdown-link {
//     width: 100%;
//     text-align: center;
//     padding: 15px 0;
//     font-size: 18px;
//     text-decoration: none;
//     color: $lambda-red;
//     &:hover {
//       color: $white;
//       background-color: $lambda-red;
//     }
//   }
//   .dropdown-hidden {
//     transition: max-height 500ms, border 0ms 500ms;
//     border: none;
//     max-height: 0rem;
//     overflow: hidden;
//   }
// }
