footer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 20px;

  @include tablet {
    justify-content: space-between;
    margin: auto;
    margin-top: 7.5rem;
  }

  @include desktop {
    max-width: $content-max-width;
    margin: auto;
    margin-top: 12rem;
  }

  p {
    display: none;
    margin-left: 10px;
    @include tablet {
      display: block;
    }
  }

  div {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
}
