header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/backgrounds/paul-e-harrer-236-unsplash.jpg);
  background-size: cover;
  background-position: left center;
  height: 61.5rem;

  .header-top {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1rem 0 0;

    h2 {
      color: white;
      margin: 0 2rem 0;
      // margin: .8rem 4rem 0;
    }

    .menu-btn {
      height: 1.3rem;
      margin: .2rem 1.5rem 0;

      @include tablet {
        display: none;
      }
    }
  }


  h1 {
    max-width: 90%;
    color: white;
    text-align: center;
    margin: 21rem auto 0;

    @include tablet {
      max-width: 80%;
    }

    @include desktop {
      max-width: 67%;
      text-align: left;
      margin: 20rem 4.5rem 0;
    }
  }

  button {
    display: block;
    align-self: center;
    background-color: #7289da;
    color: white;
    font-weight: bold;
    padding: 1.2rem 3.5rem;
    border: none;
    margin: 4.3rem auto 0;

    @include tablet {
      padding: 1.8rem 5.5rem;
    }

    @include desktop {
      margin: 2rem 4.5rem 0;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.3rem;
  right: 2px;

  @include tablet {
    position: static;
    flex-direction: row;
    align-items: center;
  }

  a {
    display: none;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    margin: 1.5rem .5rem 0;

    &:first-child {
      margin: 0 .5rem 0;

      @include tablet {
        margin: 0 1.5rem;
      }
    }

    @include tablet {
      display: block;
      margin: 0 1.5rem;
    }

    @include desktop {
      margin: 0 3rem;
    }
  }

  &.menu--open {
    a {
      display: block;
    }
  }
}
