.about-content {
  margin: 0;
  width: 90%;

  .top-about {
    display: flex;
    justify-content: space-around;
    img {
     
      height: 250px;
      width: 200px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      p {
        font-weight: bold;
      }
    }
  }

  .bottom-about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h2 {
      width: 100%;
      text-align: center;
      font-weight: bold;
    }

    .profile {
      height: 300px;
      width: 250px;

      img {
        height: 250px;
      }

      h4 {
        font-weight: bold;
      }
    }
  }
}
