.modal {
  display: none;

  @include tablet {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 500px;
    border-radius: 15px;

    img {
      height: 250px;
      width: 250px;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus{
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }


}



.about-content {
  margin: auto;
  width: 100%;

  @include tablet {
    width: 90%;
  }

  @include desktop {
    max-width: 1000px;
    margin: auto;
  }

  .bottom-about {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include desktop {
      justify-content: center;
    }

    h2 {
      width: 100%;
      text-align: center;
    }

    .profile {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      width: 250px;

      img {
        height: 250px;
      }

      h4 {
        margin-top: 15px;
        margin-bottom: 0;
        font-weight: bold;
        text-align: center;
      }

      p {
        margin-top: 0;
        font-size: 2.1rem;
        text-align: center;
      }

      .bio {
        display: none;
        margin: auto;
        margin-top: 20px;
        width: 250px;

        .close-bio-mobile {
          float: right;
          font-size: 3rem;
        }


      }

      .bio-toggle {
        display: block;

        @include tablet {
          display: none;
        }
      }
    }
  }
}

