.index-content {
  width: $mobile-content-width;
  max-width: $content-max-width;
  margin: 0 auto;

  p {
    margin-top: 2rem;
  }
}

.middle-index {
  width: 93%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 0;

  @include tablet {
    width: 100%;
    //max-width: 800px;
    justify-content: center;
    //align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-wrap: nowrap;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      width: 1fr;
      min-width: 20rem;
      max-width: 32rem;
      margin-left: 5px;
      margin-right: 5px;
    
     

     
    }

    @include desktop {
      margin: 0 2%;
    }

    img {
      margin-top: 1.2rem;
      width: 4rem;
    }

    h3 {
      text-align: center;
      width: 400px;
      margin-top: 1.3rem;
    }
  }
}

.bottom-index {
  position: relative;
  margin-top: 5.7rem;

  img {
    width: 143px;

    @include tablet {
      width: 236px;
    }

    @include desktop {
      width: 330px;
    }
  }
}
