.index-content {
  width: $mobile-content-width;
  max-width: $content-max-width;
  margin: 0 auto;

  p {
    margin-top: 2rem;
  }
}

.middle-index {
  width: 93%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 0;

  @include tablet {
    width: 100%;
    //max-width: 800px;
    justify-content: center;
    //align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-wrap: nowrap;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      width: 1fr;
      min-width: 20rem;
      max-width: 32rem;
      margin-left: 5px;
      margin-right: 5px;
    
     

     
    }

    @include desktop {
      margin: 0 2%;
    }

    img {
      margin-top: 1.2rem;
      width: 4rem;
    }

    h3 {
      text-align: center;
      width: 400px;
      margin-top: 1.3rem;
    }
  }
}

.bottom-index {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5.7rem;

  @include tablet {
    position: static;
    display: grid;
    grid-column-gap: 3%; // 11 column gaps * 3 == 33 (100 - 33 == 67)
    grid-template-columns: repeat(12, 5.58333333%); // 67% of screen realestate left / 12 columns == 5.58333333% per column
    grid-template-rows: 5rem auto;
    grid-template-areas:
        'btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2 btm-idx-h2'
        'btm-idx-h3 btm-idx-h3 btm-idx-h3 btm-idx-h3 btm-idx-h3 btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img'
        'btm-idx-p btm-idx-p btm-idx-p btm-idx-p btm-idx-p btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img'
        '. . . . . btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img btm-idx-img';
    width: 100%;
  }

  h2 {
    position: absolute;
    width: 70%;
    font-size: 2.5rem;
    top: 20px;

    @include tablet {
      position: static;
      grid-area: btm-idx-h2;
      width: 100%;
      font-size: 3.85rem;
      z-index: 1;
    }

    @include desktop {
      font-size: 5.2rem;
    }
  }

  img {
    width: 237px;
    align-self: flex-end;

    @include tablet {
      grid-area: btm-idx-img;
      width: 100%;
    }
  }

  h3 {
    margin-top: 3.5rem;
    text-align: center;
    font-size: 2.5rem;

    @include tablet {
      grid-area: btm-idx-h3;
      text-align: start;
    }

    @include desktop {
      font-size: 3.2rem;
      margin-top: 6.5rem;
    }
  }

  p {
    @include tablet {
      grid-area: btm-idx-p;
    }
  }
}
